cognitive-services/examples/ComputerVison.json
[{"id":"c22a9c03.df823","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":180,"wires":[["687ec7c3.256f28"]]},{"id":"f7f291eb.f27b4","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":570,"y":180,"wires":[]},{"id":"687ec7c3.256f28","type":"template","z":"2d69bdfe.db2f32","name":"Image URL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://portalstoragewuprod2.azureedge.net/vision/Analysis/1.jpg","x":250,"y":180,"wires":[["917f426.7be5ac"]]},{"id":"8267bc9f.0d94c","type":"comment","z":"2d69bdfe.db2f32","name":"Example1: Computer Vison(Description)","info":"","x":200,"y":140,"wires":[]},{"id":"748421dd.21ec9","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":440,"y":220,"wires":[]},{"id":"e278cb35.49cee8","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":280,"wires":[["6ea7631b.d6315c"]]},{"id":"83af5739.c68208","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":570,"y":280,"wires":[]},{"id":"6ea7631b.d6315c","type":"file in","z":"2d69bdfe.db2f32","name":"Image file","filename":"","format":"","x":240,"y":280,"wires":[["4ca2fc82.468764"]]},{"id":"6803a7d9.6828d8","type":"comment","z":"2d69bdfe.db2f32","name":"Input filename","info":"","x":250,"y":320,"wires":[]},{"id":"ff212cc2.d53d4","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":440,"y":320,"wires":[]},{"id":"917f426.7be5ac","type":"Computer Vision","z":"2d69bdfe.db2f32","operation":"description","name":"Description","x":410,"y":180,"wires":[["f7f291eb.f27b4"]]},{"id":"4ca2fc82.468764","type":"Computer Vision","z":"2d69bdfe.db2f32","operation":"description","name":"Description","x":410,"y":280,"wires":[["83af5739.c68208"]]},{"id":"95ca8ba8.1c7118","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":420,"wires":[["5d9b1be4.0cbf44"]]},{"id":"a34420d4.9d24e","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":530,"y":420,"wires":[]},{"id":"5d9b1be4.0cbf44","type":"template","z":"2d69bdfe.db2f32","name":"Image URL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://portalstoragewuprod2.azureedge.net/vision/Analysis/1.jpg","x":250,"y":420,"wires":[["5eed1050.a3111"]]},{"id":"c5ac8bf0.db89b8","type":"comment","z":"2d69bdfe.db2f32","name":"Example2: Computer Vison(Tags)","info":"","x":180,"y":380,"wires":[]},{"id":"1e4a0970.9635f7","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":440,"y":460,"wires":[]},{"id":"6c0d2250.0f86bc","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":520,"wires":[["268da848.9e22a8"]]},{"id":"c099c95b.ad78b8","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":530,"y":520,"wires":[]},{"id":"268da848.9e22a8","type":"file in","z":"2d69bdfe.db2f32","name":"Image file","filename":"","format":"","x":240,"y":520,"wires":[["5cfc81c.867bf8"]]},{"id":"7446d32.191f82c","type":"comment","z":"2d69bdfe.db2f32","name":"Input filename","info":"","x":250,"y":560,"wires":[]},{"id":"8ef4c2d9.5fd7a","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":440,"y":560,"wires":[]},{"id":"5eed1050.a3111","type":"Computer Vision","z":"2d69bdfe.db2f32","operation":"tags","name":"Tags","x":390,"y":420,"wires":[["a34420d4.9d24e"]]},{"id":"5cfc81c.867bf8","type":"Computer Vision","z":"2d69bdfe.db2f32","operation":"tags","name":"Tags","x":390,"y":520,"wires":[["c099c95b.ad78b8"]]},{"id":"1a863cb3.38a0e3","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":660,"wires":[["163c9c55.806274"]]},{"id":"5d839905.274238","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":550,"y":660,"wires":[]},{"id":"163c9c55.806274","type":"template","z":"2d69bdfe.db2f32","name":"Image URL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://portalstoragewuprod2.azureedge.net/vision/Analysis/1.jpg","x":250,"y":660,"wires":[["97e0d2da.57d2"]]},{"id":"c298358c.fcba68","type":"comment","z":"2d69bdfe.db2f32","name":"Example3: Computer Vison(Face Age)","info":"","x":190,"y":620,"wires":[]},{"id":"d170d44.30f0d28","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":440,"y":700,"wires":[]},{"id":"6c738e46.76f35","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":760,"wires":[["568fde3f.78bcb"]]},{"id":"1e408c8a.ec28b3","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":550,"y":760,"wires":[]},{"id":"568fde3f.78bcb","type":"file in","z":"2d69bdfe.db2f32","name":"Image file","filename":"","format":"","x":240,"y":760,"wires":[["361525c4.12058a"]]},{"id":"3655a3f7.70e88c","type":"comment","z":"2d69bdfe.db2f32","name":"Input filename","info":"","x":250,"y":800,"wires":[]},{"id":"3e2e94bd.e9a3fc","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":440,"y":800,"wires":[]},{"id":"97e0d2da.57d2","type":"Computer Vision","z":"2d69bdfe.db2f32","operation":"age","name":"Face Age","x":400,"y":660,"wires":[["5d839905.274238"]]},{"id":"361525c4.12058a","type":"Computer Vision","z":"2d69bdfe.db2f32","operation":"age","name":"Face Age","x":400,"y":760,"wires":[["1e408c8a.ec28b3"]]},{"id":"d7cc1e17.aa2b1","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":900,"wires":[["52d011fa.ae0e5"]]},{"id":"2ac61464.a8b2ac","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":590,"y":900,"wires":[]},{"id":"52d011fa.ae0e5","type":"template","z":"2d69bdfe.db2f32","name":"Image URL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://portalstoragewuprod2.azureedge.net/vision/Analysis/1.jpg","x":250,"y":900,"wires":[["7bb80f2e.03bdb"]]},{"id":"c25f1a8b.a4a038","type":"comment","z":"2d69bdfe.db2f32","name":"Example4: Computer Vison(Face Gender)","info":"","x":200,"y":860,"wires":[]},{"id":"d5b9982f.82cfb8","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":440,"y":940,"wires":[]},{"id":"fc2f2dc9.52e4e","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":1000,"wires":[["f5176b00.c2c518"]]},{"id":"75bcb152.e5ee4","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":590,"y":1000,"wires":[]},{"id":"f5176b00.c2c518","type":"file in","z":"2d69bdfe.db2f32","name":"Image file","filename":"","format":"","x":240,"y":1000,"wires":[["c367d99f.ae3958"]]},{"id":"eac708.b56318f8","type":"comment","z":"2d69bdfe.db2f32","name":"Input filename","info":"","x":250,"y":1040,"wires":[]},{"id":"e28a007.816bc","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":440,"y":1040,"wires":[]},{"id":"7bb80f2e.03bdb","type":"Computer Vision","z":"2d69bdfe.db2f32","operation":"gender","name":"Face Gender","x":420,"y":900,"wires":[["2ac61464.a8b2ac"]]},{"id":"c367d99f.ae3958","type":"Computer Vision","z":"2d69bdfe.db2f32","operation":"gender","name":"Face Gender","x":420,"y":1000,"wires":[["75bcb152.e5ee4"]]}]