cognitive-services/examples/Emotion.json
[{"id":"5a9c64ac.60a5ec","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1180,"wires":[["737ee59d.0a547c"]]},{"id":"88031b5a.e089a8","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":570,"y":1180,"wires":[]},{"id":"737ee59d.0a547c","type":"template","z":"2d69bdfe.db2f32","name":"Image URL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://portalstoragewuprod2.azureedge.net/vision/Analysis/1.jpg","x":270,"y":1180,"wires":[["2fdc143b.bb5edc"]]},{"id":"5aa33d00.e16874","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1280,"wires":[["383a72d.0ce778e"]]},{"id":"227fb769.be0508","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":570,"y":1280,"wires":[]},{"id":"383a72d.0ce778e","type":"file in","z":"2d69bdfe.db2f32","name":"Image file","filename":"","format":"","x":260,"y":1280,"wires":[["e618e60f.653f88"]]},{"id":"26da2008.4cacd","type":"comment","z":"2d69bdfe.db2f32","name":"Example: Emotion","info":"","x":150,"y":1140,"wires":[]},{"id":"16e11f50.121561","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":460,"y":1220,"wires":[]},{"id":"2c9fec0e.629fb4","type":"comment","z":"2d69bdfe.db2f32","name":"Input filename","info":"","x":270,"y":1320,"wires":[]},{"id":"9b483d8b.f0a4f","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":460,"y":1320,"wires":[]},{"id":"2fdc143b.bb5edc","type":"Emotion","z":"2d69bdfe.db2f32","name":"","x":420,"y":1180,"wires":[["88031b5a.e089a8"]]},{"id":"e618e60f.653f88","type":"Emotion","z":"2d69bdfe.db2f32","name":"","x":420,"y":1280,"wires":[["227fb769.be0508"]]}]