cognitive-services/examples/Face.json
[{"id":"58470fb9.cfa9b","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1420,"wires":[["710dd9da.64c758"]]},{"id":"e4290d2c.c1aa2","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":550,"y":1420,"wires":[]},{"id":"710dd9da.64c758","type":"template","z":"2d69bdfe.db2f32","name":"Image URL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://portalstoragewuprod2.azureedge.net/vision/Analysis/1.jpg","x":270,"y":1420,"wires":[["b0dc6734.2f69b8"]]},{"id":"1b43ace7.b344e3","type":"inject","z":"2d69bdfe.db2f32","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1520,"wires":[["976fda39.4d89e8"]]},{"id":"d98c6e18.897e5","type":"debug","z":"2d69bdfe.db2f32","name":"","active":true,"console":"false","complete":"false","x":550,"y":1520,"wires":[]},{"id":"976fda39.4d89e8","type":"file in","z":"2d69bdfe.db2f32","name":"Image file","filename":"","format":"","x":260,"y":1520,"wires":[["5d560cb7.c357f4"]]},{"id":"edaadc3.6ebb42","type":"comment","z":"2d69bdfe.db2f32","name":"Example: Face","info":"","x":140,"y":1380,"wires":[]},{"id":"3065323f.fdaeee","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":460,"y":1460,"wires":[]},{"id":"b167e076.f9bd3","type":"comment","z":"2d69bdfe.db2f32","name":"Input filename","info":"","x":270,"y":1560,"wires":[]},{"id":"f12fefcc.4951d","type":"comment","z":"2d69bdfe.db2f32","name":"Input subscription key","info":"","x":460,"y":1560,"wires":[]},{"id":"b0dc6734.2f69b8","type":"Face","z":"2d69bdfe.db2f32","name":"","x":410,"y":1420,"wires":[["e4290d2c.c1aa2"]]},{"id":"5d560cb7.c357f4","type":"Face","z":"2d69bdfe.db2f32","name":"","x":410,"y":1520,"wires":[["d98c6e18.897e5"]]}]