cognitive-services/examples/Search.json
[{"id":"966c6daa.b4866","type":"inject","z":"277a6b19.514484","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":240,"wires":[["336edff1.d23e8"]]},{"id":"466a3729.d730d8","type":"debug","z":"277a6b19.514484","name":"","active":true,"console":"false","complete":"false","x":730,"y":240,"wires":[]},{"id":"336edff1.d23e8","type":"template","z":"277a6b19.514484","name":"keyword: Seattle","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Seattle","x":350,"y":240,"wires":[["f8ad26d.ae930d8"]]},{"id":"d4925c37.19258","type":"debug","z":"277a6b19.514484","name":"","active":true,"console":"false","complete":"false","x":730,"y":360,"wires":[]},{"id":"a3626254.5bd5d","type":"comment","z":"277a6b19.514484","name":"Example: Search","info":"","x":200,"y":200,"wires":[]},{"id":"8f62317e.9a478","type":"comment","z":"277a6b19.514484","name":"Input keyword","info":"","x":350,"y":400,"wires":[]},{"id":"f8ad26d.ae930d8","type":"Bing Image Search","z":"277a6b19.514484","operation":"search","name":"","x":550,"y":240,"wires":[["466a3729.d730d8"]]},{"id":"c32728af.2e1aa8","type":"Bing News Search","z":"277a6b19.514484","operation":"search","name":"","x":550,"y":280,"wires":[["1fbdbb47.bf64d5"]]},{"id":"54cfe643.5e0cf8","type":"Bing Video Search","z":"277a6b19.514484","operation":"search","name":"","x":550,"y":320,"wires":[["35e52fbd.b5b3f"]]},{"id":"7552941a.a4357c","type":"Bing Web Search","z":"277a6b19.514484","operation":"search","name":"","x":550,"y":360,"wires":[["d4925c37.19258"]]},{"id":"35e52fbd.b5b3f","type":"debug","z":"277a6b19.514484","name":"","active":true,"console":"false","complete":"false","x":730,"y":320,"wires":[]},{"id":"1fbdbb47.bf64d5","type":"debug","z":"277a6b19.514484","name":"","active":true,"console":"false","complete":"false","x":730,"y":280,"wires":[]},{"id":"26099e88.d27822","type":"inject","z":"277a6b19.514484","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":280,"wires":[["5661505f.b8882"]]},{"id":"9bf6c139.73a67","type":"inject","z":"277a6b19.514484","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":320,"wires":[["8686a696.457e78"]]},{"id":"5345c1c6.70958","type":"inject","z":"277a6b19.514484","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":360,"wires":[["be1006d5.bb97e8"]]},{"id":"9ac9abd8.ebe5b8","type":"comment","z":"277a6b19.514484","name":"Input subscription key","info":"","x":560,"y":400,"wires":[]},{"id":"5661505f.b8882","type":"template","z":"277a6b19.514484","name":"keyword: Seattle","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Seattle","x":350,"y":280,"wires":[["c32728af.2e1aa8"]]},{"id":"8686a696.457e78","type":"template","z":"277a6b19.514484","name":"keyword: Seattle","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Seattle","x":350,"y":320,"wires":[["54cfe643.5e0cf8"]]},{"id":"be1006d5.bb97e8","type":"template","z":"277a6b19.514484","name":"keyword: Seattle","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Seattle","x":350,"y":360,"wires":[["7552941a.a4357c"]]}]